---
export interface Props {
    title: string;
    percentage: number;
    className?: string;
}

const {title, percentage, className} = Astro.props
---

<div class={className}>
    <div class="flex items-end justify-between">
        <h4 class="font-body font-semibold uppercase text-black">
            {title}
        </h4>
        <h3 class="font-body text-3xl font-bold text-primary">
            {percentage}%
        </h3>
    </div>
    <div class="mt-2 h-3 w-full rounded-full bg-lila">
        <div class="h-3 rounded-full bg-primary" style={"width: "+percentage+"%"}>
        </div>
    </div>
</div>