---
export interface Props {
    date: string;
    title: string;
    logo: string;
    span: string;
}

const {date, logo, title, span} = Astro.props
---

<div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
    <div class="md:w-2/5">
        <div class="flex justify-center md:justify-start">
            <span class="shrink-0">
                <img src={logo} class="h-auto w-32" alt="company logo" />
            </span>
            <div class="relative ml-3 hidden w-full md:block">
                <span class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"></span>
            </div>
        </div>
    </div>
    <div class="md:w-3/5">
        <div class="relative flex md:pl-18">
            <span
                class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"></span>

            <div class="mt-1 flex">
                <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
                <div class="md:-mt-1 md:pl-8">
                    <div class="flex flex-row justify-between items-center">
                        <span class="block font-body font-bold text-grey-40">
                            {date}
                        </span>
                        <span class="block font-body text-xs font-bold text-grey-40">
                            {span}
                        </span>

                    </div>
                    <span class="block pt-2 font-header text-xl font-bold uppercase text-primary">
                        {title}
                    </span>
                    <div class="pt-2">
                        <span class="block font-body text-black">
                            <slot />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>